<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <style>
        .event-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .event-card {
            margin-bottom: 20px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">Qolda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://t.me/QosylNet_bot">Telegram Bot</a>
                        </li>
                    </ul>
                    <form class="d-flex text-white">
                        <label for="" class="pe-5">Количество монет: <span id="coins">0</span></label>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <h1 class="mb-4">Список Ивентов</h1>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cityFilter">Город:</label>
                    <select id="cityFilter" class="form-select">
                        <option value="Все">Все</option>
                        <option value="Алматы">Алматы</option>
                        <option value="Нур-Султан">Нур-Султан</option>
                        <option value="Шымкент">Шымкент</option>
                        <option value="Онлайн">Онлайн</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoryFilter">Категория:</label>
                    <select id="categoryFilter" class="form-select">
                        <option value="Все">Все</option>
                        <option value="Экология и устойчивое развитие">Экология и устойчивое развитие</option>
                        <option value="Защита животных">Защита животных</option>
                        <option value="Социальное предпринимательство">Социальное предпринимательство</option>
                        <option value="Технологии и инновации">Технологии и инновации</option>
                        <option value="Спорт и активный образ жизни">Спорт и активный образ жизни</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="eventsList">

        </div>
    </div>
    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>

    <script>
        var ailabs_user_info = {
            'client': 'c1615',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'position': 1, //1-bottom right, 2-bottom left
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>

    <script>
        var globalEvents;
        
        const eventsList = document.getElementById('eventsList');
        const cityFilter = document.getElementById('cityFilter');
        const categoryFilter = document.getElementById('categoryFilter');
        var user_id = '<%- user_id %>'

        function getEvents() {
            $.ajax({
                url: '/events',
                type: 'POST',
                dataType: 'json',
                success: function (res) {
                    if (!res) res = []
                    console.log(res)
                    globalEvents = res
                    showCoins()
                    renderEvents(res)
                }
            });
        }


        getEvents()


        function renderEvents(events) {

            var eventsHTML = ''
            events.forEach(event => {
                if (checkParticipant(event.participants) == 'none') {
                    eventsHTML += `
                        <div class="col-md-4">
                            <div class="card event-card">
                                <div class="card-body">
                                    <h5 class="card-title">${event.title}</h5>
                                    <p class="card-text">${formatTimestamp(event.date)}</p>
                                    <p class="card-text">${event.description}</p>
                                    <p class="card-text"><strong>Город:</strong> ${event.city}</p>
                                    <p class="card-text"><strong>Категория:</strong> ${event.category}</p>
                                    <button class="btn btn-primary" onclick="registerEvent('${event.id}')">Зарегистрироваться</button>
                                </div>
                            </div>
                        </div>
                    `
                } else if (checkParticipant(event.participants) == '0') {
                    eventsHTML += `
                        <div class="col-md-4">
                            <div class="card event-card">
                                <div class="card-body">
                                    <h5 class="card-title">${event.title}</h5>
                                    <p class="card-text">${formatTimestamp(event.date)}</p>
                                    <p class="card-text">${event.description}</p>
                                    <p class="card-text"><strong>Город:</strong> ${event.city}</p>
                                    <p class="card-text"><strong>Категория:</strong> ${event.category}</p>
                                    <button class="btn btn-info" onclick="checkedEvent('${event.id}', '${event.secret_key}')">Подтвердить</button>
                                </div>
                            </div>
                        </div>
                    `
                } else {
                    eventsHTML += `
                        <div class="col-md-4">
                            <div class="card event-card">
                                <div class="card-body">
                                    <h5 class="card-title">${event.title}</h5>
                                    <p class="card-text">${formatTimestamp(event.date)}</p>
                                    <p class="card-text">${event.description}</p>
                                    <p class="card-text"><strong>Город:</strong> ${event.city}</p>
                                    <p class="card-text"><strong>Категория:</strong> ${event.category}</p>
                                    <button class="btn btn-success" >Вы уже посетили</button>
                                </div>
                            </div>
                        </div>
                    `
                }

            });


            eventsList.innerHTML = eventsHTML
        }

        function checkParticipant(participants) {
            let state = 'none'
            participants.forEach(participant => {
                if (participant.user_id == user_id) state = '0'
                if (participant.status == 1) state = '1'
            })
            return state
        }

        function showCoins() {
            var coins = 0;
            globalEvents.forEach((event) => {
                event.participants.forEach(participant => {
                    if (participant.status == 1) coins++
                })
            })
            sessionStorage.setItem('coins', coins)
            $('#coins').html(coins)
        }

        function registerEvent(event_id) {
            $.ajax({
                url: '/events/join',
                type: 'POST',
                data: { event_id: event_id, user_id: user_id },
                dataType: 'json',
                success: function (r) {
                    console.log(r)
                    alert(`Вы зарегистрировались на ивент`);
                    getEvents()
                }
            })
        }

        function checkedEvent(event_id, key) {
            let user_key = prompt('Введите код подтверждения')
            if (user_key == key) {
                $.ajax({
                    url: '/events/checked',
                    type: 'POST',
                    data: { event_id: event_id, user_id: user_id },
                    dataType: 'json',
                    success: function (r) {
                        console.log(r)
                        getEvents()
                        alert(`Вы подтвердили посещение ивента`);
                    }
                })
            } else {
                alert('Неправильный код')
            }
        }


        function filterEvents() {
            const city = cityFilter.value;
            const category = categoryFilter.value;

            const filteredEvents = globalEvents.filter(event => {
                return (city === 'Все' || event.city === city) &&
                    (category === 'Все' || event.category === category);
            });

            renderEvents(filteredEvents);
        }

        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);

            const options = { month: 'long', day: 'numeric' };

            // Convert date to format like "September 24"
            return date.toLocaleDateString('en-US', options);
        }


        cityFilter.addEventListener('change', filterEvents);
        categoryFilter.addEventListener('change', filterEvents);


    </script>
</body>

</html>